body { font-family: monospace; }

select {
    height: 30px;
    width: 210px;
}

button {
    border: none;
    border-radius: 2px;
    background-color: purple;
    color: white;
    width: 150px;
    height: 30px;
}